.register-container{
    margin-left:700px;
  margin-top:-360px;
  width: 400px;
  background-color:azure;
  padding: 30px;
  border-radius: 20px;
  
}
.Register-bar{
  font-size: larger;

}
.register-btn{
  width: 320px;
  background-color: turquoise;
   color:white;
   padding:20px;
   font-weight:700;
   border-radius:10px;
  
}
.ent{
   width: 300px;
  padding: 15px;
  font-size: larger;
 border-radius: 30px;
 background-color: #FFFFFF;
}
.text{
  font-size:larger;
  font-weight: bold;
}
.Register-bar{
  margin-left: 20px;
}
.homepage{
  border-top: 60px;
  margin-left: 40px;
  margin-top: 200px;
  border-bottom: 20px;
  border-radius: 5px;
  width: 140px;
  padding: 30px;
  font-size: x-large;
}
.login_cred{
  margin-left:700px;
  margin-top:-180px;
  width: 400px;
  background-color:azure;
  padding: 40px;
  border-radius: 20px;
  
}

.login{
  width: 20px;
  color: black;
  font-size: larger;
  font-weight: 500px;
  margin-left: 140px;
  margin-top: -20px;
}
.log_but{
  width: 320px;
  background-color: turquoise;
   color:white;
   padding:20px;
   font-weight:700;
   border-radius:10px;
}
body{
  background-image: url("images.jpg/back.avif");
  background-size: cover;
  background-repeat: no repeat;
  background-position: center;
}
.email1{
  width: 300px;
  padding: 15px;
  font-size: large;
  border-radius: 30px;
  background-color: #FFFFFF;

}
.pass1{
  width: 300px;
  padding: 15px;
  font-size: large;
 border-radius: 30px;
 background-color: #FFFFFF;
}
.request{
  font-weight: bolder;
  font-size: x-large;
  
  margin-top:100px;
  font-style: italic;
  width: 1000px;
  padding: 40px;
  background-color:pink;

}
