/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

/* Resets and defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

body {
    background: linear-gradient(
        135deg,
        rgba(217, 246, 245, 1) 0%,
        rgba(236, 242, 255, 1) 35%,
        rgba(244, 233, 255, 1) 65%,
        rgba(253, 239, 255, 1) 100%
    );
}


/* Global utility (optional) */
img {
    width: 40px;
    height: 40px;
}

h1 {
    margin-bottom: 32px;
    font-size: 28px;
    font-weight: 700;
    color: #184f4b;
}

input::placeholder {
    color: #a9cfcf;
}


.hire-freelance-btn{

    border-radius: 10px;
    width: 150px;
    height: 45px;
    border:none;
    margin-bottom: 20px;
    background-color:#E7D7FF;
    color: #724AB1;
;

}
.hire-btn{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
.updated-btn-props{
    background-color: #C8A5FF;
    color: #2B0055;


}
.freelance-btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

button{
    cursor: pointer;
}
.heading-text{


    font-weight: 700;
    color: #FFFFFF;
    font-size: 60px;
    font-style: bold;
    margin-left: 1.875rem;
}
input{
    font-size: 25px;
    padding-left: 20px;
}

.input-field{

    border-radius: 55px;
    padding: 18px 15px 18px 15px;
    height: 79px;
    width: fill;
    font-size: 30px;
    padding-left: 65px;
    font-family: 'Istok Web', sans-serif;;
    

}

.searchTool{

    padding-left: 30px;
    padding-right: 30px;

}
