/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

/* Resets and defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

body {
    background: linear-gradient(
        135deg,
        rgba(217, 246, 245, 1) 0%,
        rgba(236, 242, 255, 1) 35%,
        rgba(244, 233, 255, 1) 65%,
        rgba(253, 239, 255, 1) 100%
    );
}

/* Global utility (optional) */
img {
    width: 40px;
    height: 40px;
}

h1 {
    margin-bottom: 32px;
    font-size: 28px;
    font-weight: 700;
    color: #184f4b;
}

input::placeholder {
    color: #a9cfcf;
}
