@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Istok Web', sans-serif;
}


.container{

    display:flex;
    
    width: 90%;
    height: 100vh;
     

}
.mainContent{
    width: 1276px;
}

.heading-text{


    font-weight: 700;
    color: #FFFFFF;
    font-size: 60px;
    font-style: bold;
}

.bg{
    background-image: url("./icons/bg_image.jpeg");
    background-attachment: fixed;
    background-size: contain;
    border-radius: 20px;
    height: 370px;
}

.hotpicks-title{

    font-size: 40px;
    font-weight: 400;
    color: #2B0055;
    margin-top: 20px;
    margin-bottom: 10px;
}
input::placeholder{

    font-size: 30px;
    text-indent: 50px;

}
.nav-btn{
    width: 182px;
    height: 40px;
    border-radius: 60px;
    padding: 10px;
    background-color: #EFE3FF;


}
.search-bar{

    position: relative;
    margin-top: 48px;
    margin-bottom: 10px;
}

.magnify-glass{
    position: absolute;
    top: 18px;
    left: 15px;


}

.input-field{

    border-radius: 55px;
    padding: 18px 15px 18px 15px;
    height: 79px;
    width: stretch;

}

.tag-line{

    font-size: 30px;
    font-weight: 400;
    color: #004342;

}
.catchy-phrase{

    font-weight: 400;
    font-size: 60px;
    color: #004342;

}

.hire-freelance-btn-container{
    display: flex;
}
.hire-freelance-btn{

    border-radius: 10px;
    width: 150px;
    height: 45px;
    border:none;
    margin-bottom: 20px;

}


body{

    background: linear-gradient(
  135deg,
  rgba(217, 246, 245, 1) 0%,
  rgba(236, 242, 255, 1) 35%,
  rgba(244, 233, 255, 1) 65%,
  rgba(253, 239, 255, 1) 100%
);
}

.right-section{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.greeting{

    border-radius: 10px;
    padding-right: 22px;
    padding-left: 22px;
    gap: 10px;
    background-color: #D4FAF9;
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
    text-align: center;
    align-self: flex-end; /* moves left */


}


.navigation-buttons{

    display: flex;
    justify-content: center;
    gap: 21.2px;

}
.promises-section{
    display: flex;
    color: #FFFFFF;
    gap: 16px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 21px;

}
.sideBar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 1.875rem;
    height: 100vh;
    width: 20%;
}


.Header{

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.promise-text{

    font-weight: 400;
    font-size: 28px;
    padding-bottom: 31.5px;
}

.searchTool{

    padding-left: 30px;
    padding-right: 30px;

}
img{
    width: 40px;
    height: 40px;
}