.Header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.catchy-phrase {
    font-weight: 400;
    font-size: 60px;
    color: #004342;
}
.tag-line {
    font-size: 30px;
    font-weight: 400;
    color: #004342;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hire-freelance-btn-container{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 21px;
}
.hire-freelance-btn{

    border-radius: 10px;
    width: 150px;
    height: 45px;
    border:none;
    margin-bottom: 20px;

}
.greeting{

    border-radius: 10px;
    padding-right: 22px;
    padding-left: 22px;
    gap: 10px;
    background-color: #D4FAF9;
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
    text-align: center;
    align-self: flex-end; /* moves left */


}