.heading-text {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 60px;
    font-style: bold;
}
.search-bar{

    position: relative;
    margin-top: 48px;
    margin-bottom: 10px;
}
.magnify-glass{
    position: absolute;
    top: 18px;
    left: 15px;


}
.input-field{

    border-radius: 55px;
    padding: 18px 15px 18px 15px;
    height: 79px;
    width: 100%;

}
.navigation-buttons{

    display: flex;
    justify-content: center;
    gap: 21.2px;

}
.nav-btn{
    width: 182px;
    height: 40px;
    border-radius: 60px;
    padding: 10px;
    background-color: #EFE3FF;


}
.promises-section {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 21px;
}
.promise-text {
    font-weight: 400;
    font-size: 28px;
    padding-bottom: 31.5px;
}
.bg{
    background-image: url("../icons/bg_image.jpeg");
    background-attachment: fixed;
    background-size: contain;
    border-radius: 20px;
    height: 370px;
}